body {
	margin:0;
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.nav{
	display: inline-block;
	padding:5px;
	font-size: 14px;
}
a.nav.current{
	color:red;
	font-weight: 700;
}

a.content{
	box-sizing: border-box;
	display: block;
	padding:10px;
	border: 1px solid #ccc;
	width:822px;
	margin-top: 10px
}

a.content img{
	max-width: 800px;
	width:100%;
}
.warp{
	margin: 0 auto;
	width:822px;
}